@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Libre+Baskerville&family=Noto+Serif+NP+Hmong:wght@500;700&family=Poppins:wght@100;200;300;400;500;600&family=Righteous&family=Roboto+Mono&family=Satisfy&family=Teko:wght@300;400;500;700&family=Titillium+Web:wght@400;700&family=Vidaloka&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$font-main:'Poppins', sans-serif;
$font-second: 'Inter', sans-serif;
$background: #eaeaea ;
$text-color:#252a34;
$blue: #08d9d6;
$red: #e50000;
$gap:50px;